
{%extends 'index.html'%}
{% load static %}
{%block title%} Profile {%endblock title%}

{%block content%}

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						
						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
									{% if request.session.gender == 'M' %}
										<a href="#" class="booking-doc-img">
											<img src="{% static '\images\male.png' %}" alt="User Image">
										</a>
									{% else %}
										<a href="#" class="booking-doc-img">
											<img src="{% static '\images\female.png' %}" alt="User Image">
										</a>
									{% endif %}
										<div class="profile-det-info">
											<h3>{{request.session.name}}</h3>
											<div class="patient-details">
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="/profile">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
                                            <li class="active">
												<a href="/history">
													<i class="fas fa-history"></i>
													<span>History</span>
												</a>
											</li>
											<li>
												<a href="/update_profile">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="/change_pass">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="/change_email">
													<i class="fas fa-envelope"></i>
													<span>Change Email</span>
												</a>
											</li>
											<li>
												<a href="/logout">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<!-- / Profile Sidebar -->
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body pt-0">
								
									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-toggle="tab"><h3 >Bookings History</h3></a>
											</li>
										</ul>
									</nav>
									<!-- /Tab Menu -->
									
									<!-- Tab Content -->
									<div class="tab-content pt-0">
										
										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Order Id </th>
																	<th>Service </th>
																	<th>Booked Slot Date</th>
																	<th>Booking Date</th>
																	<th>Amount</th>
																	<th>Status</th>
																	<th></th>
																	<th>Write Review</th>
																</tr>
															</thead>
												
													{% for i in orders %}
															<tbody>
																<tr>
																	<td class="text-danger">#{{i.order_id}}</td>
																	<td>{{i.ServiceName}}</td>
																	<td>{{i.date}} <span class="d-block text-info">{{i.slot}}</span></td>
																	<td>{{i.datetime_of_payment}}</td>
																	<td>Rs.{{i.amount}}</td>
																	<td><span class="badge badge-pill bg-success-light">COMPLETE</span></td>
																	<td class="text-right">
																		<div class="table-action">
																			<a href="/generateinvoice/{{i.order_id}}/" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
				
																		</div>
																	</td>
																	{% if i.Reviews %}
																		<td class="text-center"><a href="#" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#{{i.order_id}}">
																		<i class="fas fa-feather-alt"></i>Reviews Submited </a></td>
																	
																	{% else %}
																	<td class="text-center"><a href="#" class="btn btn-sm bg-warning-light" data-toggle="modal" data-target="#{{i.order_id}}">
																				<i class="fas fa-feather-alt"></i>Write Reviews </a></td>
																		
																		<!-- reviews form -->
																<div class="modal fade custom-modal" id="{{i.order_id}}">
																	<div class="modal-dialog modal-dialog-centered">
																		<div class="modal-content">
																			<div class="modal-header bg-warning">
																				<h5 class="modal-title text-dark">Feedback Form</h5>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																					<span aria-hidden="true">&times;</span>
																				</button>
																			</div>
																			<div class="modal-body">
																			<form method="POST" id="{{i.id}}">
      																		{%csrf_token%}
																				<ul class="info-details">
																					
																					<li>
																					<h5 class="title justify-content-center">Select Rating:</h5>
																						<div class="row justify-content-center mx-0">
																								<select name="rate" required>
																									<option value="" > Select Ratings </option>
																									<option value="1">1</option>
																									<option value="2">2</option>
																									<option value="3">3</option>
																									<option value="5">4</option>
																									<option value="5">5</option>
																									
																								</select>
																						</div>
																					</li>
																					<li>
																						<input type="hidden" name="order_id" value="{{i.order_id}}">
																						<input type="hidden" name="user" value="{{i.UserName}}">
																						<input type="hidden" name="prof" value="{{i.professional}}">
																						<input type="hidden" name="service" value="{{i.ServiceName}}">
																					</li>
																					<li>
																						<h5 class="title justify-content-center">Write feedback:</h5>
														
																						<textarea  placeholder=" Write your reviews Here upto 155 letters* " name="feedback"  maxlength="155"  class="form-control border" required></textarea>
																					</li>
															
																					<li>
																					<button type="submit" form="{{i.id}}" class="btn-block btn-sm bg-warning">
																						<i class="fas fa-check"></i> Submit
																					</button>
																					</li>
																					<li>
																					</li>
																				</ul>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
																{% endif %}
																<!-- /Review form -->
																</tr>

															</tbody>
													{% endfor %}
													
														</table>
													</div>
												</div>
												
											</div>
										</div>
										<!-- /Appointment Tab -->
										
										
									</div>
									<!-- Tab Content -->
									
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->


{% endblock content %}