{%extends 'index.html'%}

{%block title%} Login {%endblock title%}

{%block content%}


<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                     {% if success%}
                            <div class="alert alert-info" role="alert">
                                {{success}} ! Now You can <a href="/usr_login"><strong>login </strong></a> !
                            </div>
                    {% else %}
                    <h3 class="bg-dark text-white p-4"><center>Reset Password</center></h3>

                    {% if status is none %}


                    <form method="POST" id="checkusr" class='bg-shadow'>
                      {% csrf_token %}
                        
                        {% if error%}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {% endif %}
                        <fieldset class="p-4">
                            <input type="text" form="checkusr" placeholder="Username" name="uname"  value="{{values.UserName}}"  class="border p-3 w-100 my-2">
                           

                            <button type="submit" name="checkusr"  class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Reset Password</button>
                           
                            <a class="mt-3 d-inline-block text-primary" href="/usr_login"> - Login Now</a>
                  </form>


                        {% else %}


                         <form method="POST" id="checkotp" class='bg-shadow'>
                        {% csrf_token %}
                                {% if alert%}
                                    <div class="alert alert-info" role="alert">
                                        <strong>{{alert}}</strong>
                                    </div>
                                 {% endif %}
                                {% if error%}
                                    <div class="alert alert-danger" role="alert">
                                        {{error}}
                                    </div>
                                 {% endif %}
                                 <center>Enter OTP </center>
                                
                                <input type="text"  placeholder="Username" name="uname" readonly value="{{Username}}"  class="border bg-gray p-3 w-100 my-2">

                                <input type="text" placeholder="OTP" name="otp"  value="{{values.otp}}"  class="border p-3 w-100 my-2">
                                

                                <input type="password" placeholder="Password*" name='pass' id="password" value="{{values.pass}}" onkeyup="checkpass()" class="border p-3 w-100 my-2" maxlength="50" required autocomplete="off">
                                 <span id='pass_err1' class="text-danger"></span>

                                <input type="text" placeholder="Confirm Password*"  id="confirm-password" onkeyup="checkpass()" class="border p-3 w-100 my-2" required autocomplete="off" required>
                                <span id='pass_err' class="text-danger"></span>
                                

                                
                                <button type="submit" name="otpcheck"  form="checkotp" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Reset Password</button>
                        </form>
                        {% endif %}
                        </fieldset>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock content%}

