{%extends 'prof_base.html'%}

{%block title%} Professional Login {%endblock title%}

{%block content%}


<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-dark text-white p-4"><center>Professional Login</center></h3>
                    <form method="POST" class='bg-shadow'>
                      {% csrf_token %}
                        {% if error%}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>{{error}}</strong> </br>
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                        {% endif %}
                        <fieldset class="p-4">
                            <input type="text" placeholder="Username" name="uname"  value="{{values.UserName}}"  maxlenth="15" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="Password" name="psw" value="{{values.Password}}" maxlength="30"  class="border p-3 w-100 my-2">
                            <button type="submit"   class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Log in</button>
                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock content%}

