{%extends 'prof_base.html'%}

{%block title%} Login {%endblock title%}
{% load static %}
{%block content%}
<section>
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{% static 'images/user/user-thumb.jpg' %}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>{{request.session.profname}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">{{request.session.profqulifiaction}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="\prof">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											
											<li>
												<a href="/prof/reviews">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
		
											<li >
												<a href="/prof/profile">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											
											<li class="active">
												<a href="/prof/changepass">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="/prof/logout">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-6">
										
											<!-- Change Password Form -->
											<form method="POST">
											{% csrf_token %}
											{% if error %}
											<div class="alert alert-warning alert-dismissible fade show" role="alert">
                                     				<center><p><strong>Ops ! </strong>{{error}}<p></center>
                                     			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     			<span aria-hidden="true">&times;</span> </button>
        									</div>
											{% endif %}
											{% if sucess %}
											<div class="alert alert-info alert-dismissible fade show" role="alert">
                                     			<center><p><strong>Sucess ! </strong>{{sucess}}<p></center>
                                    			 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     			<span aria-hidden="true">&times;</span> </button>
        										</div>
											{% endif %}
												<div class="form-group">
													<label>Current Password</label>
													<input name="currentpass" type="password" class="form-control" required>
												</div>
												<div class="form-group">
													<label>New Password</label>
													<input type="password" id="npass" name="newpass" onkeyup="checkpass()" required class="form-control">
												</div>
												<div class="form-group">
													<label>Confirm Password</label>
													<input type="password" id="ncpass" class="form-control" onkeyup="checkpass()" required>
													<span id='err' class="text-danger"></span>
												</div>
												<div class="submit-section">
													<button type="submit" id="sbtn" class="btn btn-primary submit-btn">Save Changes</button>
												</div>
											</form>
											<!-- /Change Password Form -->
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>		
</section>
			<!-- /Page Content -->
<script>
	function checkpass(){
		let p = $("#npass").val();
		let cp = $("#ncpass").val();
		if(p==cp){
			$("#sbtn").removeAttr("disabled")
			document.getElementById("err").innerHTML = '';
		}
		else{
			document.getElementById("err").innerHTML = "Password Mathing error !";
			$("#sbtn").attr("disabled","disabled")
		}
	}
</script>
{% endblock content %}