{%extends 'prof_base.html'%}

{%block title%} Login {%endblock title%}
{% load static %}
{%block content%}
<section>
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{% static 'images/user/user-thumb.jpg' %}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>{{request.session.profname}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">{{request.session.profqulifiaction}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="\prof">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											
											<li>
												<a href="/prof/reviews">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
		
											<li class="active">
												<a href="doctor-profile-settings.html">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											
											<li>
												<a href="/prof/changepass">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="/prof/logout">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
							<form method='POST' >
								{% csrf_token %}
							<!-- Basic Information -->
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Basic Information</h4>
									<div class="row form-row">
										<div class="col-md-12">
											<div class="form-group">
												
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Username <span class="text-danger">*</span></label>
												<input type="text" value="{{request.session.professional}}" class="form-control" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Email <span class="text-danger">*</span></label>
												<input type="email" value="{{request.session.profemail}}" class="form-control" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>First Name <span class="text-danger">*</span></label>
												<input type="text" value="{{request.session.proffname}}" class="form-control" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Last Name <span class="text-danger">*</span></label>
												<input type="text" value="{{request.session.proflname}}"  class="form-control" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Phone Number</label>
												<input type="text" value="{{request.session.profphone}}" class="form-control" readonly>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- /Basic Information -->
							
							<!-- About Me 
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">About Me</h4>
									<div class="form-group mb-0">
										<label>Biography</label>
										<textarea class="form-control" rows="5" required></textarea>
									</div>
								</div>
								<div class="submit-section submit-btn-bottom">
								<center><button type="submit" id="sbtn" class="btn btn-transparent submit-btn">Save Changes</button></center>
							</div>
							</div>
							 /About Me -->
							<!-- Contact Details -->
							<div class="card contact-card">
								<div class="card-body">
									<h4 class="card-title">Contact Details</h4>
									<div class="row form-row">
										
									

										<div class="col-md-8">
										{% if request.session.profadd %}
											<div class="form-group">
												<label>Saved Address </label>
												<div class="alert alert-warning" role="alert">
                                   					<strong>{{request.session.profadd}} </strong>
                               					</div>
											<div>
											<div class="form-group">
												<label>Change Address:</label>
												
												<textarea  id="add"  placeholder=" Address *" name="address"  maxlength="250"  class="form-control border" required onkeyup="checkadd()"></textarea>
												 <span id='add_err' class="text-danger"></span>
											</div>
										{% else %}
											<div class="form-group">
												<label>Address <span class="text-danger">*</span></label>
												<textarea  id="add"  placeholder=" Address *" name="address"  maxlength="155"  class="form-control border" required onkeyup="checkadd()"></textarea>
												<span id='add_err' class="text-danger"></span>
											</div>
										{% endif %}
						
										</div>
										<div class="col-md-6">
										{% if request.session.profpcode %}
											<div class="form-group">
												<label>Saved Postal Code </label>
												<div class="alert alert-warning" role="alert">
                                   					<strong>{{request.session.profpcode}} </strong>
                               					</div>
											<div>
												<div class="form-group">
												<label class="control-label">Change Postal Code</label>
												
												<input type="text" id="pcode" name="pcode" required class="form-control" maxlength="6" onkeyup="checkpcode()">
												 <span id='pcode_err' class="text-danger"></span><br>
                                				 <span id='pcode_err2' class="text-danger"></span>
											</div>
										</div>
										{% else %}
					
											<div class="form-group">
												<label class="control-label">Postal Code</label>
												<input type="text" name="pcode" id="pcode" required class="form-control" maxlength="6" onkeyup="checkpcode()">
												 <span id='pcode_err' class="text-danger"></span><br>
                                				 <span id='pcode_err2' class="text-danger"></span>
											</div>
										</div>
										{% endif %}
									</div>
								{% if msg %}
 								<div class="alert alert-primary" role="alert">
                                   <strong>sucess !  </strong>{{msg}} Please <u><a href="/prof/logout" class="alert-link">Logout</a></u> for Display changes.
                                </div>
								{% endif %}
									</div>
									<div class="submit-section submit-btn-bottom">
								<center><button type="submit" id="sbtn" class="btn btn-transparent submit-btn">Save Changes</button></center>
							</div>
								</div>
								
							<!-- /Contact Details -->
						</div>
						
					</div>

				</div>

			</div>		
	</div>
	</div>
	</div>
</section>
	<script>
	function checkpcode(){
            let p= $("#pcode").val();
            if (!$.isNumeric(p)){
                document.getElementById("pcode_err").innerHTML = "-Number Only";
                $("#sbtn").attr("disabled","disabled")
            }else{
                document.getElementById("pcode_err").innerHTML = "";
                $("#sbtn").removeAttr("disabled")
            }
        }

	function checkadd(){
            let p= $("#add").val();
            if((p.length)  < 10 ){
                document.getElementById("add_err").innerHTML = "-must be more than 10 latters";
                $("#sbtn").attr("disabled","disabled")
             }
             else{
                document.getElementById("add_err").innerHTML = "";
                $("#sbtn").removeAttr("disabled")
            }
        }

		
</script>
			<!-- /Page Content -->
   {% endblock content %}