{%extends 'prof_base.html'%}

{%block title%} Login {%endblock title%}
{% load static %}
{%block content%}

{%  if request.session.professional %}
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
										{% if request.session.profgender == 'M' %}
									<img src="{% static '\images\male.png' %}" alt="User Image">
										{% elif request.session.profgender == 'F' %}
									<img src="{% static '\images\female.png' %}" alt="User Image">
										{% endif %}
										</a>
										<div class="profile-det-info">
											<h3>{{request.session.profname}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">{{request.session.profqulifiaction}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="/prof">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="/prof/history">
													<i class="fas fa-columns"></i>
													<span>Service History</span>
												</a>
											</li>
											<li>
												<a href="/prof/reviews">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
		
											<li>
												<a href="/prof/profile">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											
											<li>
												<a href="/prof/changpass">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="/prof/logout">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">

							
							
							<div class="row">
								<div class="col-md-12">
									<h4 class="mb-4">Patient Appoinment</h4>
									<div class="appointment-tab">
									
										<!-- Appointment Tab -->
										<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
											<li class="nav-item">
												<a class="bg-warning-light nav-link active" href="#upcoming-appointments" data-toggle="tab">Upcoming orders</a>
											</li> 
											&nbsp;
											&nbsp;
											<li class=" nav-item">
												<a class="bg-warning-light nav-link" href="#accepted-appointments" data-toggle="tab">Accepted Orders</a>
											</li> 
											&nbsp;
											&nbsp;
											<li class=" nav-item">
												<a class="bg-warning-light nav-link" href="#declined-appointments" data-toggle="tab">Declined Orders</a>
											</li> 
											
										</ul>
										<!-- /Appointment Tab -->
										
										<div class="tab-content">
										
											<!-- Upcoming Appointment Tab -->
											<div class="tab-pane show active" id="upcoming-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
																<thead>
																	<tr>
																		<th>Client Name </th>
																		<th> OrderId</th>
																		<th>Service</th>
																		<th>Order Date</th>							
																		<th>More Information</th>
																		<th class="text-center"></th>
																		<th></th>
																	</tr>
																</thead>
																{% for i in orders %}
																
    																
																<tbody>
																	<tr>
																		
																		<td >{{i.UserName.FirstName}} {{i.UserName.LastName}}</td>
																		<td class="text-danger">#{{i.order_id}}</td>
																		<td>{{i.ServiceName}}</td>
																		<td>{{i.date}}  <span class="d-block text-info">{{i.slot}}</span></td>
													
																		<td class="text-center"><a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#{{i.order_id}}">
																				<i class="far fa-eye"></i> View </a></td>
																		
																
																		<!-- more-info pop up -->
																<div class="modal fade custom-modal" id="{{i.order_id}}">
																	<div class="modal-dialog modal-dialog-centered">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title">Booking Details</h5>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																					<span aria-hidden="true">&times;</span>
																				</button>
																			</div>
																			<div class="modal-body">
																				<ul class="info-details">
																					<li>
																						<div class="details-header">
																							<div class="row">
																								<div class="col-md-6">
																									<span class="title">Address:</span>
																									<span class="text">{{i.address}}</span>
																								</div>
																								
																							</div>
																						</div>
																					</li>
																					<li>
																						<span class="title">Pincode:</span>
																						<span class="text">{{i.pincode}}</span>
																					</li>
																					<li>
																						<span class="title">Contact No:</span>
																						<span class="text">{{i.UserName.ContactNo}} </span>
																					</li>
																					<li>
																						<span class="title">Confirm Date:</span>
																						<span class="text">{{i.date}}</span>
																					</li>
															
																					<li>
																						<span class="title">Paid Amount</span>
																						<span class="text">Rs. {{i.amount}}</span>
																					</li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
																<!-- /more-info pop up -->


																		
																		<td class="text-right">
																		<form method="POST" id="{{i.id}}">
      																		{%csrf_token%}
																			<div class="table-action">
														
																				<input type="hidden" name="order_id" value="{{i.order_id}}">
																				<button type="submit" form="{{i.id}}" name="status" value="2" class="btn-block btn-sm bg-success-light">
																					<i class="fas fa-check"></i> ACCEPTE
																				</button>
																				<button type="submit" form="{{i.id}}" name="status" value="3"  class="btn-block btn-sm bg-danger-light">
																					<i class="fas fa-times"></i> DECLINED
																				</button>
																			</div>
																		</form>
																		</td>
																	</tr>
																
																</tbody>
							
	{% endfor %}
															</table>		
														</div>
													</div>
												</div>
											</div>
											<!-- /Upcoming Appointment Tab -->
									   		<!-- Accepted Appointment Tab -->
											<div class="tab-pane" id="accepted-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
																<thead>
																	<tr>
																		<th>Client Name </th>
																		<th> OrderId</th>
																		<th>Service</th>
																		<th>Order Date</th>							
																		<th>Paid Amount</th>
																		<th>More Information</th>

																		<th class="text-center"></th>
																		<th></th>
																	</tr>
																</thead>
																{% for i in accepted_orders  %}
																<tbody>
																	<td >{{i.UserName.FirstName}} {{i.UserName.LastName}}</td>
																		<td class="text-danger">#{{i.order_id}}</td>
																		<td>{{i.ServiceName}}</td>
																		<td>{{i.date}}  <span class="d-block text-info">{{i.slot}}</span></td>
																		<td class="text-center">Rs.{{i.amount}}</td>
																		<td class="text-center"><a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#{{i.order_id}}">
																				<i class="far fa-eye"></i> View </a></td>
																		
																
																		<!-- more-info pop up -->
																<div class="modal fade custom-modal" id="{{i.order_id}}">
																	<div class="modal-dialog modal-dialog-centered">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title">Booking Details</h5>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																					<span aria-hidden="true">&times;</span>
																				</button>
																			</div>
																			<div class="modal-body">
																				<ul class="info-details">
																					<li>
																						<div class="details-header">
																							<div class="row">
																								<div class="col-md-6">
																									<span class="title">Address:</span>
																									<span class="text">{{i.address}}</span>
																								</div>
																								
																							</div>
																						</div>
																					</li>
																					<li>
																						<span class="title">Pincode:</span>
																						<span class="text">{{i.pincode}}</span>
																					</li>
																					<li>
																						<span class="title">Contact No:</span>
																						<span class="text">{{i.UserName.ContactNo}} </span>
																					</li>
																					<li>
																						<span class="title">Confirm Date:</span>
																						<span class="text">{{i.date}}</span>
																					</li>
															
																					<li>
																						<span class="title">Paid Amount</span>
																						<span class="text">Rs. {{i.amount}}</span>
																					</li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
																<!-- /more-info pop up -->
																		<td class="text-right">
																			<div class="table-action">
																				
																		<form method="POST" id="{{i.id}}">
      																		{%csrf_token%}
																					  <input type="hidden" name="order_id" value="{{i.order_id}}">
																				<button type="submit" form="{{i.id}}" name="status" value="4" class="btn-block btn-sm bg-success-light">
																					<i class="fas fa-check"></i> Complete Order
																				</button>
																		</form>
																			</div>
																		</td>
																	</tr>
																	{% endfor %}
																</tbody>
															</table>		
														</div>	
													</div>	
												</div>	
											</div>
											<!-- /Today Appointment Tab -->
											<!-- Declined Appointment Tab-->
											<div class="tab-pane" id="declined-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
																<thead>
																	<tr>
																		<th>Client Name </th>
																		<th>Declined OrderId</th>
																		<th>Service</th>
																		<th>Order Date</th>							
																		<th></th>
																		
																	</tr>
																</thead>
															{% for i in declined_orders %}
																<tbody>
																	<td >{{i.UserName.FirstName}} {{i.UserName.LastName}}</td>
																		<td class="text-danger">#{{i.order_id}}</td>
																		<td>{{i.ServiceName}}</td>
																		<td>{{i.date}}  <span class="d-block text-info">{{i.slot}}</span></td>
																		<td class="text-center"><a href="javascript:void(0);" class="btn btn-sm bg-warning-light">
																					<i class="fas fa-times"></i>
																						Declined
																				</a></td>
																		
						
																	</tr>
																	{% endfor %}
																</tbody>
															</table>		
														</div>	
													</div>	
												</div>	
											</div>
											<!-- /Declined Appointment Tab -->
					
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
{% endif %}
   {%endblock content%}