{%extends 'prof_base.html'%}

{%block title%} Professional Login {%endblock title%}
{% load static %}
{%block content%}

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
									{% if request.session.profgender == 'M' %}
										<a href="#" class="booking-doc-img">
											<img src="{% static '\images\male.png' %}" alt="User Image">
										</a>
									{% else %}
										<a href="#" class="booking-doc-img">
											<img src="{% static '\images\female.png' %}" alt="User Image">
										</a>
									{% endif %}
										<div class="profile-det-info">
											<h3>{{request.session.profname}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">{{request.session.profqulifiaction}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="\prof">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="/prof/history">
													<i class="fas fa-columns"></i>
													<span>Service History</span>
												</a>
											</li>
											<li class="active">
												<a href="/prof/reviews">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
		
											<li >
												<a href="doctor-profile-settings.html">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											
											<li>
												<a href="/prof/changepass">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="/prof/logout">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="doc-review review-listing">
							
								<!-- Review Listing -->
								<ul class="comments-list">
								
									
									<!-- /Comment List -->
									{% for feed in feedback_data  %}
									<!-- Comment List -->
									<li>
										<div class="comment">
											{% if feed.UserName.Gender == 'M' %}
												<img class="avatar rounded-circle" src="{% static '\images\male.png' %}" alt="avatar">
											{% else %}
												<img class="avatar rounded-circle" src="{% static '\images\female.png' %}" alt="avatar">
											{% endif %}
			
											<div class="comment-body">
												<div class="meta-data">
													<span class="comment-author">{{feed.UserName.FirstName}} {{feed.UserName.LastName}}</span>
													<span class="comment-date">{{feed.Date}}</span>
													<span class="comment-date"><strong>Service Name : </strong>{{feed.ServiceName}}</span>
													<div class="review-count rating">
					
														<span class="btn btn-warning text-dark">{{feed.rate}}<i class="fa fa-star"></i></span>
													</div>
												</div>
												<p class="comment-content">
													{{feed.feedback}}
												</p>
												
											</div>
										</div>
									</li>
									<!-- /Comment List -->
									

									{% endfor %}
									
								</ul>
								<!-- /Comment List -->
								
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
		{% endblock content %}