
{%extends 'index.html'%}
{% load static %}
{%block title%} Profile Update {%endblock title%}

{%block content%}

<section class="user-profile section">
{%  if request.session.user %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user">
						<!-- User Image -->
						<div class="image d-flex justify-content-center">
							<img src="{% static 'images/user/user-thumb.jpg' %}" alt="" class="">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{request.session.name}}</h5>
					</div>
					<!-- Dashboard Links -->
					<div class="widget dashboard-links">
						<ul>
							<center><li ><a href="profile" class="btn btn-main-sm" >My Account</a></li></center>
						</ul>
					</div>
				</div>
                <div class="widget user-dashboard-menu">
						<ul>
							<li><a href="/update_profile"><i class="fa fa-user"></i> Edit Profile</a></li>
							<li class="active">
								<a href="/change_email"><i class="fas fa-envelope"></i> Update Email</a>
							</li>
			
							<li >
								<a href="/change_pass"><i class="fas fa-unlock-alt"></i> Update Password</a>
							</li>
		
						</ul>
					</div> 
			</div>
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>Edit Email</h2>
				
				</div>
				<!-- Edit Personal Info -->
				<div class="row">
					
						<div class="col-lg-6 col-md-6">
						<!-- Change Email Address -->
					<div class="widget change-email mb-0">
						<h3 class="widget-header user">Edit Email Address</h3>
						<form method="POST"  action="/change_email">
                        {% csrf_token %}
                        {% if eror %}
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
                                     <center><p><strong>Ops ! </strong>{{eror}}<p></center>
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">&times;</span> </button>
        					</div>
							{% endif %}
							<!-- Current Password -->
							<div class="form-group">
								<label for="current-email">Current Email</label>
								<input type="email" class="form-control border border-warning" name="email" id="current-email" required>
							</div>
							<!-- New email -->
							<div class="form-group">
								<label for="new-email">New email</label>
								<input type="email" class="form-control" name="newemail" id="new-email" onkeyup="checkemail()" required>
							</div>
                            <!-- Confirm New Email -->
							<div class="form-group">
								<label for="confirm-email">Confirm New Email</label>
								<input type="email" class="form-control" id="confirm-email" onkeyup="checkemail()" required>
								<span id='err' class="text-danger"></span>
							</div>
							<!-- Submit Button -->
							<button type="submit" id="sbtn" class="btn btn-transparent">Change email</button>
						</form>
                        {% if sucess %}
                        <div class="alert alert-success" role="alert">
 								<p><strong> Hurrey ! </strong>{{sucess}}</p>
							</div>
						{% endif %}
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% else %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
                                     <center> <h2>You have to loging First to access this page </h2> <br>
									  <h3> <a href="/usr_login" class=" text-info">Click here For Login </a></h3></center>
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">&times;</span> </button>
        </div>
				{% endif %}
<script>
	function checkemail(){
		let e = $("#new-email").val();
		let ce = $("#confirm-email").val();
		if(e==ce){
			$("#sbtn").removeAttr("disabled")
			document.getElementById("err").innerHTML = '';
		}
		else{
			$
			document.getElementById("err").innerHTML = "Email Mathing error !";
			$("#sbtn").attr("disabled","disabled")
		}
	}
</script>
{%endblock content%}